.button {
    padding-top: 12px;
    padding-bottom: 12px;
    background: #3369F3;
    border: none;
    border-radius: 8px;
    text-align: center;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 13px;
}