<div class="profile__nerrow">
    <a href="/chats"><img src="{{ nerrow }}" alt="Nerrow" width="28" height="28"></a>
</div>
<div class="profile">
    <img class="profile__avatar" src="{{ noAvatar }}" alt="Avatar" width="130" height="130">
    <div class="profile__info info">
        {{{ formProfileEditPassword }}}
    </div>
</div>
