<div class="profile__nerrow">
    <a href="/chats"><img src="{{ nerrow }}" alt="Nerrow" width="28" height="28"></a>
</div>
<div class="profile">
    <img class="profile__avatar" src="{{ noAvatar }}" alt="Avatar" width="130" height="130">
    <div class="profile__info info">
        <form class="profile__form" align="center" action="" method="post">
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="email">Почта</lable>
                <input class="info__item-value profile__form-input" type="email" name="email" value="pochta@yandex.ru" disabled>
            </div>
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="login">Логин</lable>
                <input class="info__item-value profile__form-input" type="text" name="login" value="Иванов">
            </div>
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="name">Имя</lable>
                <input class="info__item-value profile__form-input" type="text" name="name" value="Иван">
            </div>
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="surname">Фамилия</lable>
                <input class="info__item-value profile__form-input" type="text" name="surname" value="Иванов">
            </div>
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="nickname">Имя в чате</lable>
                <input class="info__item-value profile__form-input" type="text" name="nackname" value="Иван">
            </div>
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="tel">Телефон</lable>
                <input class="info__item-value profile__form-input" type="tel" name="tel" value="+7 (909) 123 45 67">
            </div>
        </form>
    </div>
    <div class="profile__button">
       {{{button}}}
    </div>
</div>
