<div class="profile__nerrow">
    <a href="/chats"><img src="../../../static/img/nerrow.svg" alt="Nerrow" width="28" height="28"></a>
</div>
<div class="profile">
    <img class="profile__avatar" src="../../../static/img/no-pic.svg" alt="Avatar" width="130" height="130">
    <div class="profile__info info">
        <form class="profile__form" align="center" action="" method="post">
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="oldPassword">Старый пароль</lable>
                <input class="info__item-value profile__form-input" type="password" name="oldPassword" value="">
            </div>
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="newPassword">Новый пароль</lable>
                <input class="info__item-value profile__form-input" type="password" name="newPassword"  value="">
            </div>
            <div  class="profile__form-item">
                <lable class="info__item-name profile__form-label" for="passwordConf">Повторите новый пароль</lable>
                <input class="info__item-value profile__form-input" type="password" name="passwordConf"  value="">
            </div>            
        </form>
    </div>
    <div class="profile__button">
       {{{button}}}
    </div>
</div>
