<div class="profile__nerrow">
   {{{ linkNerrow }}}
</div>
<div class="profile">
    <img class="profile__avatar" src="{{ noAvatar }}" alt="Avatar" width="130" height="130">
    <div class="profile__info info">
        {{{ formProfileEditPassword }}}
    </div>
</div>
