<div class="modal__container">
    <p class="modal__title">Загрузите файл</p>
    <form class="modal__form" enctype="multipart/form-data" method="post">
        <input name="file" type="file" id="avatar" class="modal__file" multiple>
        <label for="avatar" class="modal__file-text">
            Выбрать файл на<br>компьютере
        </label>
        <div class="modal__button">
            {{{button}}}
        </div>
    </form> 
</div>
