<div class="modal__container">
    <p class="modal__title">Загрузите файл</p>
 
    <form class="modal__form">
        <input name="avatar" type="file" id="avatar" class="modal__file"> 
        <label for="avatar" class="modal__file-text">
            Выбрать файл на<br>компьютере
        </label> 
        <div class="modal__button">
            {{{ button }}}
        </div>
    </form> 
        {{{ exitLink }}}

</div>
