<div class="container container--border">
	<h1 class="title">Registration</h1>
	<form class="form" align="center" action="" method="post">
		<div  class="form__item">
			<lable class="form__label" for="email">Mail</lable>
			<input class="form__input" type="email" name="email" required="">
		</div>
		<div  class="form__item">
			<lable class="form__label" for="login">Login</lable>
			<input class="form__input" type="text" name="login" required="">
		</div>
		<div  class="form__item">
			<lable class="form__label" for="first_name">First name</lable>
			<input class="form__input" type="text" name="first_name" required="">
		</div>
		<div  class="form__item">
			<lable class="form__label" for="second_name">Second name</lable>
			<input class="form__input" type="text" name="second_name" required="">
		</div>
		<div  class="form__item">
			<lable class="form__label" for="phone">Phone</lable>
			<input class="form__input" type="tel" name="phone" required="">
		</div>
		<div  class="form__item">
			<lable class="form__label" for="password">Password</lable>
			<input class="form__input" type="password" name="password" required="">
		</div>
		<div  class="form__item">
			<lable class="form__label" for="password_conf">Password (confirm)</lable>
			<input class="form__input" type="password" name="password_conf" required="">
		</div>
		<div  class="form__item form__item-button">
			{{{button}}}
			<a class="form__link" href="/">Sign in</a>
		</div>
	</form>
</div>