<div class="chats chats__wrapper">
    <div class="chats__sidebar">
        <div class="chats__header">
            <a class="chats__link" href="/profile">Профиль</a>
            <input class="chats__search" type="search"/>
        </div>
        <div class="chats__users users">
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Андрей</div>
                    <div class="users__text">Изображение</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">10:49</div>
                    <div class="users__count">2</div>
                </div>
            </div>
            <div  class="users__item ">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Киноклуб</div>
                    <div class="users__text">Стикер</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">12:00</div>
                </div>
            </div>
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Илья</div>
                    <div class="users__text">Друзья, у меня для вас особенный выпуск новостей...</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">1 Мая 2020</div>
                    <div class="users__count">4</div>
                </div>                
            </div>
            
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Илья</div>
                    <div class="users__text">Друзья, у меня для вас особенный выпуск новостей...</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">1 Мая 2020</div>
                    <div class="users__count">4</div>
                </div>                
            </div>
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Илья</div>
                    <div class="users__text">Друзья, у меня для вас особенный выпуск новостей...</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">1 Мая 2020</div>
                    <div class="users__count">4</div>
                </div>                
            </div>
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Илья</div>
                    <div class="users__text">Друзья, у меня для вас особенный выпуск новостей...</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">1 Мая 2020</div>
                    <div class="users__count">4</div>
                </div>                
            </div>
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Илья</div>
                    <div class="users__text">Друзья, у меня для вас особенный выпуск новостей...</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">1 Мая 2020</div>
                    <div class="users__count">4</div>
                </div>                
            </div>
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Илья</div>
                    <div class="users__text">Друзья, у меня для вас особенный выпуск новостей...</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">1 Мая 2020</div>
                    <div class="users__count">4</div>
                </div>                
            </div>
            <div class="users__item">
                <div class="users__avatar"><img class="" src="" alt="Avatar"></div>
                <div class="users__info">
                    <div class="users__name">Илья</div>
                    <div class="users__text">Друзья, у меня для вас особенный выпуск новостей...</div>
                </div>
                <div class="users__mess-info">
                    <div class="users__time">1 Мая 2020</div>
                    <div class="users__count">4</div>
                </div>                
            </div>
        </div>
    </div>
    <div class="chats__messages">
        <p class="chats__text">Выберите чат, чтобы отправить сообщение</p>
    </div>
</div>