@import "./variables.scss";

html {
  margin: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: $main-text-color;
  width: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  margin: 0 auto;
}

.container {
  width: 340px;
  margin-top: 50px;
  margin-bottom: 50px;
  background: $white-color;
}

.container--border {
  border-radius: 12px;
  box-shadow: 0 0 6px rgb(0 0 0 / 14%);
}

.title {
  padding: 50px 0 40px;
  text-align: center;
  font-size: 20px;
  line-height: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
  padding: 0 30px;
}

.form__label {
  align-self: flex-start;
  margin-bottom: 8px;
  font-size: 9px;
  line-height: 9px;
  color: $text-color-light;
}

.form__item-button {
  margin-top: 46px;
}

.link {
  display: block;
  text-align: center;
  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 11px;
  line-height: 11px;
  color: $link-color;
  cursor: pointer;
}

.form__input--blue {
  border: none;
  border-bottom: 1px solid $link-color;
  margin-bottom: 16px;
  font-size: 13px;
  line-height: 13px;
}

.dropdown {
  position: relative;
}

.text__red {
  color: $error-color;
}
