/* colors */
$border-color: #eaeaea;
$ground-color: #fbfbfb;
$field-color: #efefef;
$text-color-light: #999;
$link-color: #3369f3;
$active-color: #e4edfd;
$white-color: #fff;
$main-text-color: #1e1e1e;
$error-color: #ff2f2f;
$message-color: #f8f8f8;
