/*colors*/
$border-color: #EAEAEA;
$ground-color: #FBFBFB;
$field-color: #EFEFEF;
$text-color-light: #999999;
$link-color: #3369F3;
$active-color: #E4EDFD;
$white-color: #FFFFFF;
$main-text-color: #1E1E1E;
