<a class="profile__avatar-link" href="{{ linkToPopup }}">
    <img class="profile__avatar" src="{{ avatarImg }}" alt="Avatar" width="130" height="130">
    <span class="profile__avatar-text">Поменять<br>аватар</span>
</a>
