<div class="container err" align="center" >
    <h1 class="err__title">{{ errCode }}</h1>
    <p class="err__mes">{{ errMessage }}</p>
    <a class="err__link" href="/messenger">Back to chats</a>
</div>
