<div class="container err" align="center" >
    <h1 class="err__title">{{ err_code }}</h1>
    <p class="err__mes">{{ err_message }}</p>
    <a class="err__link" href="/chats">Back to chats</a>
</div>
